################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test1/.vs/test1/v16/Browse.VC.opendb
/Client/.vs/Client/v16/Browse.VC.opendb
/test1/.vs/server/v16/Browse.VC.opendb
